{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "useTabs": false,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowFunctionParentheses": "avoid"
}
